:root {
  --iris-void: #04020f;
  --iris-brand: #6d28d9;
  --iris-highlight: #a78bfa;
  --iris-navy: #1e1b4b;
  --iris-indigo: #312e81;

  --iris-light-bg: #f6f1ff;
  --iris-light-panel: #fffaf0;

  --iris-text-dark: #efe9ff;
  --iris-text-light: #20123f;
}
